.parent{
  display: flex;
  justify-content: center;
}
.child{
  width: 20%;
  border: 1px solid rgb(236, 97, 4);
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 8px 8px -8px #000;
  text-align: center;
  background-color: rgba(248, 46, 164, 0.39);
}
.link{
  text-decoration: none;
}
.btn{
  background: rgb(238, 9, 238);
  color: #fff;
  padding: 1%;
  display: block;
  text-decoration: none;
}
.child2{
  border: 1px solid #ddd;
  width: 75%;
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 8px 8px -8px #000;
}
.skill{
  margin: .5%;
  padding: .5%;
  color: #fff;
  border-radius: 2px;
  background: hotpink;
  border: khaki;
  box-shadow: 0px 8px 8px -8px;
}
